<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="error-content text-center" style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
                    <div class="container">
                        <h1 class="error-title">Error 404</h1><!-- End .error-title -->
                        <p>We are sorry, the page you've requested is not available.</p>
                        <a href="/products" class="btn btn-outline-primary-2 btn-minwidth-lg">
                            <span>BACK TO HOMEPAGE</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .container -->
                </div><!-- End .error-content text-center -->
            </LayoutView>
        </NotFound>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(AdminLayout)">
                <div class="container-scroller">
                    <div class="container-fluid page-body-wrapper full-page-wrapper">
                        <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
                            <div class="row flex-grow">
                                <div class="col-lg-7 mx-auto text-white">
                                    <div class="row align-items-center d-flex flex-row">
                                        <div class="col-lg-6 text-lg-right pr-lg-4">
                                            <h1 class="display-1 mb-0">404</h1>
                                        </div>
                                        <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                                            <h2>SORRY!</h2>
                                            <h3 class="font-weight-light">The page you’re looking for was not found.</h3>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-12 text-center mt-xl-2">
                                            <a class="text-white font-weight-medium" href="/dashboard">Back to home</a>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-12 mt-xl-2">
                                            <p class="text-white font-weight-medium text-center">Copyright &copy; 2018  All rights reserved.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- content-wrapper ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
                </div>
                <!-- container-scroller -->
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
